python-dotenv
Flask
Flask-CORS
skillner
sentence-transformers
gensim
scikit-learn
numpy
scipy
rapidfuzz
transformers
torch
pandas
tqdm
requests
joblib
supabase
werkzeug
PyPDF2
python-docx
spacy
gunicorn
psycopg2-binary
nltk